/* COLORS

text grey:  #4B5161; 
orange: #FF634A; 
quote grey: #778299; 
light grey: #E8ECF0; 
Text white: #F4F8F9; 
off-white: #FAFCFC; 
link color: #009f4e; 

*/
/*-------------------------------------------layout--------------------------------------------------*/
.row {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 1%;
  /* border: 2px solid red;   */
}

.viewport_80 {
  height: 80vh;
}

.viewport_100 {
  height: 100vh;
}

.whitespace {
  margin: 5% 0 0 0;
}

section {
  padding: 80px 0;
  /* border: 2px solid green; */
}

/*-------------------------------------------basic setup--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background-color: #fff;
}
body {
  font-size: 1.4em;
}

p {
  font-family: "Raleway", Arial, sans-serif;
  color: #4b5161;
  text-rendering: optimizeLegibilty;
  letter-spacing: 200%;
  line-height: 1.5em;
  text-align: justify;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 270%;
  color: #4b5161;
  font-weight: 700;
  display: inline-block;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #4b5161;
  font-size: 150%;
  font-weight: 700;
  line-height: 120%;
}

a[href*="//"] {
  color: #009f4e;
}

.heading:after {
  display: block;
  height: 4px;
  background-color: #ff634a;
  content: " ";
  width: 100%;
  align: left;
  margin: 0 0 0 -45%;
}

.stripe {
  display: inline-block;
  background-color: rgba(237, 241, 244, 0.98);
  color: #ff634a;
  border-radius: 2px;
}

.highlight {
  color: #ff634a;
}

.new_paragraph {
  padding-top: 3%;
}

.statement,
#contact {
  font-family: "Raleway", Arial, sans-serif;
  color: #4b5161;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  line-height: 1.4em;
  background-color: #e8ecf0;
  margin: 0 5%;
}

.statement p {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 140%;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  line-height: 1.4em;
}

.subheading {
  text-align: right;
  padding-left: 30%;
}

/*-------------------------------------------quotes--------------------------------------------------*/
.quote_mark {
  line-height: 0.1em;
}
.quote {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 110%;
  color: #778299;
}

/*-------------------------------------------HEADER--------------------------------------------------*/
/*-------------------------------------------main navigation--------------------------------------------------*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(237, 241, 244, 0.98);
  box-shadow: 0 2px 2px rgb(238, 238, 238);
  z-index: 12;
}

#main-nav {
  float: right;
  list-style: none;
  margin-top: 10px;
  font-family: "Raleway", Arial, sans-serif;
}

#main-nav li {
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  padding-bottom: 8px;
}

.return_home {
  float: left;
  display: inline-block;
  margin-top: 12px;
}

.return_home a {
  font-weight: 600;
  color: #4b5161;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-family: "Raleway", Arial, sans-serif;
  padding-bottom: 8px;
}

#main-nav li a:link,
#main-nav li a:visited {
  font-weight: 600;
  color: #4b5161;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  /* border-bottom: 2px solid transparent;  */
  -webkit-transition: border-bottom 0.25s;
  padding: 9px 0;
}

.active-link {
  border-bottom: 3px solid #ff634a;
  /* font-size: 200px!important;  */
}
.return_home a:hover,
#main-nav li a:hover {
  border-bottom: 3px solid #ff634a;
}

.short {
  display: none;
}

.active {
  border-bottom: 3px solid #ff634a;
}
/*-------------------------------------------hero--------------------------------------------------*/
header {
  background-image: url(img/Hero_Large.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  bottom: 10%;
  left: 8%;
  text-align: left;
}

#welcome {
  font-family: "Playfair Display", serif;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: 140%;
  word-spacing: 3px;
  color: #f4f8f9;
}

#welcome_text {
  align: left;
  font-weight: 100;
  font-size: 150%;
  color: #f4f8f9;
}

.text-type {
  display: inline-block;
  /* background-color:rgba(237,241,244,0.98);  */
  color: #ff634a;
  border-radius: 2px;
  font-weight: bold;
}

.text-type > .txt {
  border-right: 0.2rem solid #f4f8f9;
}
/*-------------------------------------------MAIN--------------------------------------------------*/
/*-------------------------------------------carousel--------------------------------------------------*/
#find_out {
  text-align: center;
  padding: 0% 15% 1% 15%;
}

.about {
  height: 30%;
}

.carousel-container {
  /* border: 2px solid red;  */
  width: 918px;
  height: 561px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
}

/* 
.image{
    object-fit: cover; 
}  */

#prevBtn {
  color: #ff634a;
  opacity: 0.9;
  cursor: pointer;
  font-size: 200%;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
}
#nextBtn {
  color: #ff634a;
  opacity: 0.9;
  cursor: pointer;
  font-size: 200%;
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
}

#play,
#pause {
  color: #ff634a;
  opacity: 0.9;
  cursor: pointer;
  font-size: 150%;
  position: absolute;
  top: 5%;
  z-index: 10;
  right: 5%;
}

/*-------------------------------------------why coding--------------------------------------------------*/
#whycoding_text {
  padding: 3% 0 0 0;
}

#ikigai_diagram {
  width: 70%;
  margin: 0 15%;
  padding-top: 5%;
}

#ikigai_quote {
  padding: 0 10% 0 10%;
  text-align: left;
}

#ikigai_mark {
  margin: 60% 0 0 0;
  font-size: 400%;
}

/*-------------------------------------------ikigai questions--------------------------------------------------*/
#questions {
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn {
  width: 100%;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 85%;
  font-weight: 500;
  text-rendering: optimizeLegibilty;
  color: #4b5161;
  text-decoration: none;
  padding: 1em 1.5em;
  margin: 0 0 1.1em 0;
  border: 1.5px solid #ff634a;
  border-radius: 10px;
  box-shadow: -1px 2px 4px #d1d4da;
  background-color: #fafcfc;
}

.btn:hover {
  background-color: rgba(231, 63, 57, 0.2);
  font-weight: 600;
}

.textbox {
  height: 80vh;
}

.activeButton,
.activeButton:hover {
  background-color: #ff634a;
  font-weight: 600;
  color: #fafcfc;
}

.hidden {
  display: none;
}

.activeText {
  display: block;
}

.cycle_text {
  padding: 0 0 0 5%;
}

.cycle_text:before {
  display: block;
  height: 3px;
  background-color: #ff634a;
  content: " ";
  width: 70%;
  margin: 0 15% 3% 15%;
}

.cycle_text:after {
  display: block;
  height: 3px;
  background-color: #ff634a;
  content: " ";
  width: 70%;
  margin: 3% 15% 0 15%;
}

#coding_statement {
  padding: 10% 10%;
  text-align: center;
}

/*-------------------------------------------why FAC--------------------------------------------------*/
.reasons_left {
  text-align: left;
  padding: 0 20% 0 0;
}

.reasons_right {
  text-align: right;
  padding: 0 0 0 20%;
}

.reasons_text_left {
  margin: 7% 0 0 0;
  text-align: left;
  padding: 0 20% 0 0;
}

.reasons_text_right {
  margin: 7% 0 0 0;
  text-align: right;
  padding: 0 0 0 20%;
}

.distance {
  margin-top: 4%;
}

.header_duplicate {
  display: none;
}
/*-------------------------------------------Contact--------------------------------------------------*/

#contact {
  padding: 4% 10% 7% 10%;
}

#thanks {
  font-family: "Playfair Display", serif;
  color: #ff634a;
  font-weight: 700;
  font-size: 700%;
  line-height: 1em;
  padding-right: 40%;
}

/*-------------------------------------------Footer--------------------------------------------------*/

.main-footer {
  font-size: 400%;
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 5% 20%;
}

.main-footer li a {
  display: inline-block;
  justify-content: space-evenly;
}

.fab {
  color: #4b5161;
  float: center;
}

#codewars {
  width: 0.9em;
  fill: #4b5161;
  display: inline-block;
}
